<div class="sub-wrap container pt-5">
  <div class="mt-4" id="div_language" style="display:none;">
    <h2 class="mb-3 ">Select Language</h2>
    <select class="form-select" #selectlanguage onchange="updateCountry()"></select>
    <select class="form-select mt-2" #selectdialect></select>
  </div>
  <h2 class="mt-4 ">Notes</h2>
  <div class="p-3" style="border: 1px solid gray; height: 300px; border-radius: 8px;">
    <span #final class=""></span>
    <span #interim class="text-secondary"></span>
  </div>
  <div class="mt-4 d-flex justify-content-between">
    <button class="btn btn-success" id="start" (click)="start()">Start</button>
    <button class="btn btn-danger" id="stop" (click)="stop()">Stop</button>
  </div>
  <p #status class="lead mt-3 " style="display: none">Listenting ...</p>
</div>